
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DynaPuff:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DynaPuff:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;1,900&family=Signika+Negative:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;    


}
body{
    font-family: "Montserrat",sans-serif;

    
}
header{
width: 100%;
height: 90vh;
background: rgb(70, 142, 201);    
position: relative;
}
nav{
    width: 100%;
    background-color:transparent;
    position: fixed;
    padding-top: 15px;
  height: 60px;
}
/* background color of nav bar after scroll*/
.coloring{
    background: rgb(29, 35, 94);
    z-index: 1000;
}
.contener__nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
color: rgb(255, 255, 255);
cursor: pointer;

}
.logo span{
    color: rgb(235, 158, 65);
    padding: 3px;
}
ul{
    color: aliceblue;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    cursor: pointer;
}
ul a{
    color: aliceblue;
}
ul a:hover{
    color: rgb(235, 158, 65);
}
.contener__midde_header
{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: auto;
    height: 80%;
    align-items: center;
}
.left{
    color: aliceblue;
height: 60%;
margin-top: 70px;
}
.left h1{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.left button{
    width: 21vh;
    height: 7vh;
    margin-top: 5vh;
    background-color:rgb(235, 158, 65);
    border: none;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.left p{
    margin-top: 2vh;
}
.contener__midde_header img{

    height: 75vh;
    width: 75vh;
    margin-top: 50px;
    margin-left: 10vh;
}
button:hover{
    background-color: transparent;
    border: 2px solid  rgb(235, 158, 65);
    
}
.categories{
background-color: rgba(129, 18, 139, 0.856);

height: 55vh;
display: flex;
align-items: center;
justify-content: space-between;
}
.categories_contaner{
height: inherit;
    width: 80%;
margin: auto;
display: grid;
grid-template-columns: repeat(2,1fr);
}
.categories_contaner .left__cat{
color: aliceblue;
margin:auto;


}
.left__cat h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 32px;
margin-bottom: 4vh;
}
.left__cat p{
    font-size: 15px;
    width: 70%;
    margin-bottom: 2vh;
}
.left__cat button{
    width: 21vh;
    height: 7vh;
    background-color:aliceblue;
    border: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.left__cat button:hover{

    background-color: transparent;
    color: aliceblue;
    border: 2px solid whitesmoke;
}
.right__cat{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.right__cat .box{
    background-color: rgba(255,255,255, 0.4);
    width: 27vh;
    height: 25vh;
margin: 2.5vh;
padding: 6%;
border-radius: 15px;
color: aliceblue;
}
.box span{
background-color: rgb(82, 126, 38);
width: 4.3vh;
height: 4vh;
text-align: center;
border-radius: 7px;
margin-top: 3vh;
}
.box .one{
    background-color: rgba(214, 7, 7, 0.76);
}
.box .two{
    background-color: blueviolet;
}
.box .three{
    background-color: blueviolet;

}
.box .four{
    background-color: rgba(21, 117, 13, 0.966);
}
.box h6{
margin-top: 2.5vh;
font-size: 15px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box p{
    font-size: 11px;
    margin-top: 3vh;
}
.box:hover{

    box-shadow: 0px 10px 5px black;
}
.pop__cources{

    width: 100%;
    height: 130vh;
    background: rgb(70, 142, 201);   
}
.cources_contaner
{
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.cources_contaner h1{
    display: inline;
    
    text-align: center;
    margin-bottom: 10vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: aliceblue;
font-size: 31px;
}
.cources{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.cources .cours_box{
    background-color: rgba(129, 18, 139, 0.856);
    width: 50vh;
    height: 70vh;
    text-align: center;
    color: aliceblue;
}
.cours_box:hover{
    background-color: transparent;
    border: 1px solid  rgba(129, 18, 139, 0.856);
}
.cours_box img{
    width: inherit;
    height: 42%;
}
.cours_box button{
     width: 21vh;
    height: 7vh;
    position: relative;
    bottom: -1.5vh;
    background-color:rgb(235, 158, 65);
    border: none;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cours_box button:hover{
    background-color: transparent;
    border: 2px solid  rgb(235, 158, 65);
    
}
.cours_box h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 4vh;
}
.cours_box p{
    font-size: 13px;
    margin: 3vh;
}
.questions{

height: 90vh; 
width: 100%;
background-color: rgba(129, 18, 139, 0.856);


}
.questions_contaner{
width: 80%;
margin: auto;
display: grid;
grid-template-columns: repeat(2,1fr);

}
.questions_contaner .question_box{

    width: 80vh;
    background: rgb(70, 142, 201);
    border-radius: 10px;
    margin-top: 5vh;
    color: aliceblue;
    overflow: hidden;
    height: 12vh;
}
.question_box h3{
    padding: auto;
    margin-left: 4vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.question_box p{
    display: inline-block;
    font-size: 15px;
    margin-left: 4vh;
    margin-top: 4vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*this classes to show the pragraph on box*/
.show{
    display: inline-block;
}
.greatBox{
    overflow: visible;
    color: brown;
}
/*------end-------*/


.question_box .material-symbols-outlined:hover{


    color:rgb(235, 158, 65);
}
.question_box .material-symbols-outlined{

margin-top: 1vh;
margin-left: 2vh;
cursor: pointer;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .students{
    width: 100%;
    height: 85vh;
    background: rgb(70, 142, 201);
  }
  .students h1{
    display: inline-block;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: aliceblue;
font-size: 31px;
width: 100%;
  }
  swiper-container {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 50px;
    
  }

  swiper-slide {
    
    width: 300px;
    height: 300px;
    color: #eee;
  }

  swiper-slide img {
    display: block;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    border: 10px solid rgb(51, 106, 151);
    margin-left: 17vh;
    margin-top: 3vh;
  }
  swiper-slide h3{
    display: inline-block;
    text-align: center;
    width: 300px;
    margin-top: 2vh;
    font-size: 14px;
    font-family: "Montserrat",sans-serif;
color: aliceblue; 
}
  swiper-slide h5{
    display: inline-block;
    text-align: center;
    width: 300px;
    margin-top: 0.5vh;
    font-size: 12px;
    font-family: "Montserrat",sans-serif;
    color:aliceblue;
    
  }
  swiper-slide p{
    display: inline-block;
    text-align: left;
    width: 290px;
    margin-top: 5vh;
    font-size: 13px;
    background:linear-gradient(-230deg ,transparent,rgba(129, 18, 139, 0.856),rgba(129, 18, 139, 0.856),transparent); 
height: 18vh;
padding-left: 10px;
padding-top: 10px;
position: relative;

  }
  /*-----the footer section--------*/
footer{

width: 100%;
height: 40vh;
background: rgb(29, 35, 94);
text-transform: none;
display: grid;
grid-template-columns: repeat(4,1fr);
padding-top: 60px;
padding-left: 60px;
}
footer .ReFaiy{


width: 200px;
height: 200px;
font-family: "Montserrat",sans-serif;
color: aliceblue;

}
.ReFaiy h3{
    
    margin-bottom: 3vh;
}
.ReFaiy p{
    font-size: 11px;
}
.permalinks{
    
width: 200px;
height: 200px;
font-family: "Montserrat",sans-serif;
color: aliceblue;

}
.permalinks h3{
    margin-bottom: 3vh;
}
.permalinks ul{
    display: flex;
    flex-direction: column;
font-family: "Montserrat",sans-serif;
    font-size: 11px;
    width: 22%;
    
    
}
.permalinks ul li{
    margin-bottom: 2vh;
    
}
.contact{

    width: 200px;
    height: 200px;
    font-family: "Montserrat",sans-serif;
    color: aliceblue;
    
    }
    .contact h3{
        margin-bottom: 3.5vh;
    }
    .contact h6{
        font-size: 11px;
font-weight: 400;
margin-bottom: 5px;
    }
.contact .social{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 4vh;
}
.social a{
    color:aliceblue;
    font-size: 15px;
}
.social a:hover{
    color:rgb(235, 158, 65);
    
}
    .primacy{
        
        width: 200px;
        height: 200px;
        font-family: "Montserrat",sans-serif;
        color: aliceblue;
        
        
    }
    .primacy h3{
        margin-bottom: 3vh;
    }
.primacy h6{
    margin-top: 2vh;
    font-size: 11px;
font-weight: 400;
}